{
  "extends": [
    "@chancedigital/eslint-config/jest",
    "@chancedigital/eslint-config/node"
  ],
  "root": true,
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": "__tests__/**/*",
      "rules": {
        "node/no-unpublished-require": 0,
        "node/no-missing-require": 0
      }
    }
  ]
}
